body {
    background-image: url('pokemon_sprites/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.pokemon-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: cursive;

}

/* Estilo para las celdas de la tabla */
.pokemon-table th, .pokemon-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

/* Estilo para los encabezados de la tabla */
.pokemon-table th {
    background-color: #ff6f00; /* Color Pokémon de fuego */
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilo para las filas de la tabla */
.pokemon-table tr:nth-child(even) {
color: #250845;
}

.pokemon-table tr:nth-child(odd) {
    color: #250845;
}

/* Efecto al pasar el cursor por una fila */
.pokemon-table tr:hover {
    background-color: #6c6865;
}

/* Estilo de la imagen del Pokémon */
.pokemon-img {
    width: 60px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ff7043;
}

/* Estilo de los botones dentro de la tabla*/
.pokemon-table button {
    background-color: #ff7043;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pokemon-table button:hover {
    background-color: #f57c00;
}

/*forms*/
/* Estilo general del formulario */
form {
    width: 80%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: cursive;
    text-align: center;

}

form label {
    display: block;
    font-size: 18px;
    color: #4b4b4b;
    margin-bottom: 8px;
}

form select {
    width: 200px;
    padding: 8px;
    margin: 10px 0;
    border: 2px solid #4b4b4b;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Cambiar color de fondo cuando se hace hover */
form select:hover {
    background-color: #e0f7fa;
    border-color: #26c6da;
}

/* Estilo del botón */
form button {
    background-color: #ff6f00;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #f57c00;
}

/* Estilo de los títulos y los espacios */
form h2 {
    font-size: 28px;
    color: #ff7043;
    margin-bottom: 20px;
    text-transform: uppercase;
}

form .description {
    font-size: 16px;
    color: #607d8b;
    margin-bottom: 20px;
}

/* Estilo para el formulario en dispositivos móviles */
@media (max-width: 600px) {
    form {
        width: 95%;
    }

    form select,
    form button {
        width: 100%;
    }
}
/*titulos*/
.Titulo1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    margin-left: 13%;
    color: #FFCC00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 3px black;
}
.Titulo2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    margin-left: 3%;
    color: #FFCC00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 3px black;
}
/*titulos*/
