<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">

    <title>Pokedex</title>
</head>
<body>

<h1 class="title">Pokedex</h1>

<div class="Busqueda">
    <!-- Buscar por ID -->
    <form th:action="@{/pokedex/pokemon}" method="get" class="Busqueda_ID">
        <input type="number" name="id" min="1" th:value="${pokemon.id}" placeholder="Ingrese ID de Pokémon" required>
        <button type="submit">Buscar por ID</button>
    </form>
    <!-- Buscar por Nombre -->
    <form th:action="@{/pokedex/pokemon}" method="get" class="Busqueda_Name">
        <input type="text" name="name" placeholder="Ingrese Nombre de Pokémon" required>
        <button type="submit">Buscar por Nombre</button>
    </form>
</div>

<div class="Filtros">
    <a th:href="@{/pokedex/pokemon/filter(type='water', region='kanto', habitat='cave')}">
        <button>Filtros</button>
    </a>
</div>
<div class="pokemon-container">
    <div class="pokemon-grid">
        <h2>Pokemon</h2>
        <div><strong>Id:</strong> <span th:text="${pokemon.id}"></span></div>
        <div><strong>Name:</strong> <span th:text="${pokemon.name}"></span></div>
        <div><strong>Height:</strong> <span th:text="${pokemon.height} + ' m'"></span></div>
        <div><strong>Weight:</strong> <span th:text="${pokemon.weight} + ' kg'"></span></div>
        <div><strong>HP:</strong> <span th:text="${pokemon.stats_hp}"></span></div>
        <div><strong>Attack:</strong> <span th:text="${pokemon.stats_attack}"></span></div>
        <div><strong>Defense:</strong> <span th:text="${pokemon.stats_defense}"></span></div>
        <div><strong>Special Attack:</strong> <span th:text="${pokemon.stats_special_attack}"></span></div>
        <div><strong>Special Defense:</strong> <span th:text="${pokemon.stats_special_defense}"></span></div>
        <div><strong>Speed:</strong> <span th:text="${pokemon.stats_speed}"></span></div>
        <div><strong>Accuracy:</strong> <span th:text="${pokemon.stats_accuracy}"></span></div>
        <div><strong>Evasion:</strong> <span th:text="${pokemon.stats_evasion}"></span></div>
        <div><strong>Habitat:</strong> <span th:text="${pokemon.habitat}"></span></div>
        <div><strong>Tipo:</strong> <span th:text="${pokemon.types}"></span></div>
        <div><strong>Región:</strong> <span th:text="${pokemon.regions}"></span></div>
    </div>

    <div class="pokemon-image">
        <img th:src="@{'/pokemon_sprites/' + ${pokemon.id} + '.png'}" alt="Pokemon Image" />
    </div>
</div>


<div class="pokemon-evolutions">
    <h3 class="EvoName">Evoluciones:</h3>
    <div th:if="${pokemon.pokemons != null and not #lists.isEmpty(pokemon.pokemons)}">
        <ul>
            <li th:each="evo : ${pokemon.pokemons}">
                <p>ID: <span th:text="${evo.id}"></span></p>
                <p>Nombre: <span th:text="${evo.name}"></span></p>
                <img th:src="@{'/pokemon_sprites/' + ${evo.id} + '.png'}" alt="Imagen de evolución" />
            </li>
        </ul>
    </div>
</div>



<div>
    <a th:href="@{/pokedex/pokemon(id=${prevId})}">
        <button>Anterior</button>
    </a>
    <a th:href="@{/pokedex/pokemon(id=${nextId})}">
        <button>Siguiente</button>
    </a>
</div>

</body>
</html>
