<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">

    <title>Pokedex</title>
</head>
<body>
<div class="title">
    <h1 >Pokedex - Detalles del Pokemon</h1>
</div>


<div class="Busqueda">
    <!-- Buscar por ID -->
    <form th:action="@{/pokedex/pokemon}" method="get" class="Busqueda_ID">
        <input type="number" name="id" min="1" th:value="${pokemon.id}" placeholder="Ingrese ID de Pokémon" required>
        <button type="submit">Buscar por ID</button>
    </form>
    <!-- Buscar por Nombre -->
    <form th:action="@{/pokedex/pokemon}" method="get" class="Busqueda_Name">
        <input type="text" name="name" placeholder="Ingrese Nombre de Pokémon" required>
        <button type="submit">Buscar por Nombre</button>
    </form>
</div>

<div class="Filtros">
    <a th:href="@{/pokedex/pokemon/filter(type='water', region='kanto', habitat='cave')}">
        <button>Filtros</button>
    </a>
</div>

<div>
    <h2>Pokemon Details</h2>
    <p><strong>Id:</strong> <span th:text="${pokemon.id}"></span></p>
    <p><strong>Name:</strong> <span th:text="${pokemon.name}"></span></p>
    <p><strong>Height:</strong> <span th:text="${pokemon.height}"></span> m</p>
    <p><strong>Weight:</strong> <span th:text="${pokemon.weight}"></span> kg</p>
    <p><strong>HP:</strong> <span th:text="${pokemon.stats_hp}"></span></p>
    <p><strong>Attack:</strong> <span th:text="${pokemon.stats_attack}"></span></p>
    <p><strong>Defense:</strong> <span th:text="${pokemon.stats_defense}"></span></p>
    <p><strong>Special Attack:</strong> <span th:text="${pokemon.stats_special_attack}"></span></p>
    <p><strong>Special Defense:</strong> <span th:text="${pokemon.stats_special_defense}"></span></p>
    <p><strong>Speed:</strong> <span th:text="${pokemon.stats_speed}"></span></p>
    <p><strong>Accuracy:</strong> <span th:text="${pokemon.stats_accuracy}"></span></p>
    <p><strong>Evasion:</strong> <span th:text="${pokemon.stats_evasion}"></span></p>
    <p><strong>Habitat:</strong> <span th:text="${pokemon.habitat}"></span></p>
    <div>
        <p><strong>Tipo:</strong> <span th:text="${pokemon.types}"></span></p>
    </div>
    <div>
        <p><strong>Región:</strong> <span th:text="${pokemon.regions}"></span></p>
    </div>

    <div>
        <a th:href="@{/pokedex/pokemon(id=${prevId})}">
            <button>Anterior</button>
        </a>
        <a th:href="@{/pokedex/pokemon(id=${nextId})}">
            <button>Siguiente</button>
        </a>
    </div>

    <div>
        <h2>Pokémon Seleccionado</h2>
        <p>ID: <span th:text="${pokemon.id}"></span></p>
        <p>Nombre: <span th:text="${pokemon.name}"></span></p>

        <h3>Evoluciones:</h3>
        <div th:if="${pokemon.pokemons != null and not #lists.isEmpty(pokemon.pokemons)}">
            <ul>
                <li th:each="evo : ${pokemon.pokemons}">
                    <p>ID: <span th:text="${evo.id}"></span></p>
                    <p>Nombre: <span th:text="${evo.name}"></span></p>
                    <img th:src="@{'/pokemon_sprites/' + ${evo.id} + '.png'}" alt="Imagen de evolución" />
                </li>
            </ul>
        </div>
    </div>


</div>


</body>
</html>
